<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.circleview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="VoLap.example.appLoship.Model.NullActivity"/>

        <activity android:name="VoLap.example.appLoship.View.QLHS" />
        <activity android:name="VoLap.example.appLoship.View.GioHangActivity" />
        <activity android:name="VoLap.example.appLoship.View.NewAccount" />
        <activity android:name="VoLap.example.appLoship.View.DangXuat" />
        <activity android:name="VoLap.example.appLoship.View.DangXuat2" />
        <activity android:name="VoLap.example.appLoship.View.GiamGia" />
        <activity android:name="VoLap.example.appLoship.View.DoAn_BanhCanh_activity" />
        <activity android:name="VoLap.example.appLoship.View.DoAn_BanhMi_Activity" />
        <activity android:name="VoLap.example.appLoship.View.List_MonAn" />
        <activity android:name="VoLap.example.appLoship.View.Menu_GiaoDoAn" />
        <activity android:name="VoLap.example.appLoship.View.ProfileUserActivity" />
        <activity android:name="VoLap.example.appLoship.View.ThongBaoActivity" />
        <activity android:name="VoLap.example.appLoship.View.Login1_Activity" />
        <activity android:name="VoLap.example.appLoship.View.GiaoDoAn_activity" />
        <activity android:name="VoLap.example.appLoship.View.Login2_Activity" />
        <activity android:name="VoLap.example.appLoship.View.Home_Activity"/>
        <activity android:name="VoLap.example.appLoship.Model.Loading_activity"/>

        <activity android:name="VoLap.example.appLoship.View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>